body {
  font-size: 100%;
  /*font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;*/
font-family: 'orbitron';
}

p {
  font-family: 'orbitron';
  /*font-family: "Open Sans", Helvetica, Arial, sans-serif;*/
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
img {
  max-height: 20rem;
}

.fontawesome {
  font-family: fontawesome;
}

h4: before {
  color: blue;
  content: "\f07a";
  display: inline-block;
  font-family: fontawesome;
  fon-size: 16px;
  adding-right: 10px;
  }

.flex-item1 {
  background-color: black;
  width: 100%;
  height: 140px;
  color: white;
  }

  .flex-item {
   font-style: normal;
   font-family: 'orbitron';
   font-size: 2rem;
   background-color: aqua;
   text-align: center;
   width: 100%;
   height: 30px;
   color: black;
  }

  .listlinks {
  background-color: aqua;
  background-position: center;
  /*text-align: justify;*/
  font-size: 2rem;
  font-style: normal;
  font-family: 'orbitron';
  color: purple;
  width: 100%;
}

/***************** NAV *****************/

nav a:hover {
  text-decoration: underline;
}

/**************** HERO *****************/

header img {
  max-height: 12rem;
}

.xh1 {
  font-family: 'orbitron';
  font-size: 3.5rem;
  text-align: center;
}

.logo-w {
  font-family: 'orbitron';
  text-align: right;
}

/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
}

.xh2 {
  font-family: 'orbitron';
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;

}

.xh3 {
  font-family: 'orbitron';
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

.signup {
  font-family: 'orbitron';
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
  margin-left: 10px;
}

.sizelogo {
  width: 70px;
  height: 150px;
  left: 8px;
  top: 10px;
  position: relative;
}

.forminfo {
  text-align: center;
}
