body {
  font-size: 100%;
  /*font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;*/
font-family: 'orbitron';
}

p {
  font-family: arial;
  /*font-family: "Open Sans", Helvetica, Arial, sans-serif;*/
  font-weight: normal;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
img {
  max-height: 20rem;
}

.fontawesome {
  font-family: fontawesome;
}

h4:before {
  color: blue;
  content: "\f07a";
  display: inline-block;
  font-family: fontawesome;
  font-size: 1em;
  padding-right: 10px;
  }

.flex-item1 {
  background-color: black;
  flex-direction: column;
  width: 100%;
  height: 6%;
  color: white;
  padding: .5% 10% 20%
  }

.flex-item {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-style: normal;
    font-family: 'orbitron';
    font-size: 2rem;
    background-color: aqua;
    text-align: center;
    height: 2.5rem;
    color: black;

  }

  .listlinks {
  background-color: aqua;
  background-position: center;
  /*text-align: justify;*/
  font-size: 1.8rem;
  font-style: normal;
  font-family: 'orbitron';
  color: purple;
  width: 100%;
}

/***************** NAV *****************/

nav a:hover {
  text-decoration: underline;
}

/**************** HERO *****************/

header img {
  width: 6%;
}

.xh1 {
  font-family: 'orbitron';
  font-size: 3.5rem;
  text-align: center;
}

.logo-w {
  font-family: 'orbitron';
  text-align: right;
  /*white-space: normal;*/
  /*overflow: hidden;*/
}

/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
  font-family: fontawesome;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
}

.xh2 {
  font-family: 'orbitron';
  padding-top: 4rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;

}

.xh3 {
  font-family: arial;
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

.signup {
  font-family: 'orbitron';
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
  margin-left: 10px;
}

.sizelogo {
  /*width: 70px;
  height: 150px;*/
  width: 4rem;
  height: 10rem;
  left: 8px;
  top: 10px;
  position: relative;
}

.forminfo {
  text-align: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

nav li {
  background-color: aqua;
  padding: 1rem;
  width: 20%;
  list-style: none;
  display: inline;
}

@media (max-width: 680px) {
  nav ul {
    flex-direction: column;
  }
  nav li {
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: .1em solid white;
  }
}


.icon-search {
  height: 20px;
  width: 20px;
  border: none;
  /*cursor: pointer;*/
  /*color: white;*/
  /*font-size: 3rem;*/
  /*background-color: black;*/
  position: relative;
}
